@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Tilt+Neon&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: oklch(0.5673 0.2272 7.88);
  --color-secondary: oklch(0.392 0.048 264.7);
  --color-dark-primary: oklch(0.1627 0.0105 294.37);
  --color-dark-secondary: oklch(0.204 0.0158 284.91);
  --color-light: oklch(0.944 0.014 267.5);
  --color-neon-blue: oklch(0.2776 0.1708 267.77);
   --font-neon: "Tilt Neon", sans-serif; 
   --font-anta: "Anta", sans-serif; 
}
